.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
Sandbox/out/production/classes/Hello.class
Sandbox/out/production/classes/ru/stqa/pft/sandbox/Hello.class
Sandbox/out/production/classes/Hello.class
Sandbox/out/production/classes/ru/stqa/pft/sandbox/Square.class
Sandbox/out/production/classes/ru/stqa/pft/sandbox/Rectangle.class
Sandbox/out/production/classes/Hello.class
Sandbox/out/production/classes/ru/stqa/pft/sandbox/Point.class
*.class
Sandbox/src/main/java/ru/stqa/pft/sandbox/Equality.java
addressbook-web-tests/.idea/workspace.xml
addressbook-web-tests/.idea/workspace.xml

addressbook-web-tests/.idea/libraries/Gradle__com_beust_jcommander_1_72.xml
addressbook-web-tests/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_1_3_9.xml
*.html
*.bin
*.idx
addressbook-web-tests/build/tmp/test/jar_extract_2396159786522195334_tmp
addressbook-web-tests/.idea/uiDesigner.xml
addressbook-web-tests/.idea/workspace.xml
*.css
addressbook-web-tests/.idea/libraries/Gradle__com_thoughtworks_xstream_xstream_1_4_10.xml
addressbook-web-tests/.idea/libraries/Gradle__org_hamcrest_java_hamcrest_2_0_0_0.xml
addressbook-web-tests/.idea/libraries/Gradle__xpp3_xpp3_min_1_1_4c.xml
addressbook-web-tests/.idea/libraries/Gradle__xmlpull_xmlpull_1_1_3_1.xml
addressbook-web-tests/.idea/workspace.xml
addressbook-web-tests/build/reports/tests/testContacts/js/report.js
addressbook-web-tests/build/resources/test/440796.jpg
addressbook-web-tests/.idea/workspace.xml
addressbook-web-tests/.idea/libraries/Gradle__ch_qos_logback_logback_classic_1_2_3.xml
addressbook-web-tests/.idea/libraries/Gradle__ch_qos_logback_logback_core_1_2_3.xml
addressbook-web-tests/.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_25.xml
addressbook-web-tests/.idea/modules/addressbook-web-tests_main.iml
addressbook-web-tests/.idea/modules/addressbook-web-tests_main.iml
addressbook-web-tests/.idea/modules/addressbook-web-tests_test.iml
addressbook-web-tests/.idea/workspace.xml
addressbook-web-tests/build/test-results/testContacts/TEST-ru.stqa.pft.addressbook.tests.ContactCreationTests.xml
addressbook-web-tests/build/test-results/testGroups/TEST-ru.stqa.pft.addressbook.tests.GroupDeletionTests.xml
addressbook-web-tests/build/test-results/testGroups/TEST-ru.stqa.pft.addressbook.tests.GroupCreationTests.xml
*.log
addressbook-web-tests/.idea/compiler.xml
addressbook-web-tests/.idea/compiler.xml
addressbook-web-tests/.idea/compiler.xml
addressbook-web-tests/.idea/gradle.xml
addressbook-web-tests/.idea/modules.xml
addressbook-web-tests/.idea/workspace.xml
addressbook-web-tests/.idea/compiler.xml
addressbook-web-tests/.idea/gradle.xml
addressbook-web-tests/.idea/modules.xml
